.column1 {
    background-color: rgb(142, 43, 161);
}

.column2 {
    background-color: rgb(148, 41, 77);
}

.column3 {
    background-color: rgb(70, 58, 124);
}

h1 {
    background-color: rgb(97, 92, 92);
}







