.home-page {
  background-color: white;
}

.card-img-top {
  height: 400px;
  object-fit: cover;
}

body {
 
  
    background-image: url("./assets/backgroundhome.jpg");
    background-color: #cccccc;
  
}
.title {
  color: black;
}
.search {
  text-align: left;
}
.para {
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.fredo-button {
  flex-direction: right;
}
.fredo-button{
    flex-direction: right;

}
